/* "rc-" is a prefix for any class associated with a custom react component */

.rc-header{
    /*background-color: blue;*/
    /*position: fixed;
    top: 0;
    left: 0;*/
    /*height: 150px;*/
    outline: 1px solid lightgray;
}

.rc-header-content{
    height: 150px !important;
    /*width: 720px !important;*/
    outline: 1px solid lightgray;
}

.app-view{
    height: 80%;
    min-height: 500px;
    max-height: 100%;
    margin: 0 auto;
    padding: 10px;
    outline: 1px solid lightgray;
}
.rc-view h1{
    margin-left: 10px;
    text-align: left;
}
.rc-view p{
    margin-left: 50px;
    text-align: left;
}




/*only main terminal should be full screen, not ones from inside gui*/
.terminal{
    position: relative;
    height: 100%;
    width: 100%;
}

.terminal-input{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
	background: -webkit-linear-gradient(black, gray) !important; /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(black, gray) !important; /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(black, gray) !important; /* For Firefox 3.6 to 15 */
	background: linear-gradient(black, gray) !important; /* Standard syntax (must be last) */
	-moz-box-shadow: 0px 0px 7px #000 !important;
	-webkit-box-shadow: 0px 0px 7px #000 !important;
 	box-shadow: 0px 0px 7px #000 !important;
	/*border-radius: 5px !important;*/
	border: none !important;
	resize: none !important;
	color: white !important;
}
